name: tests

on: [push, pull_request]

jobs:
  tox:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        python-version:
        - 2.7
        - 3.6
        - 3.9
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libkrb5-dev
        pip install tox tox-gh-actions
    - name: Test with tox
      run: tox -- --cov-report=xml tests
    - name: Upload coverage to codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
        fail_ci_if_error: true

  integration-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ansible:
        - ga
        - pre
    steps:
    - uses: actions/checkout@v2
    - name: Install test dependencies
      run: |
        sudo apt-get update
        sudo apt-get install \
          apache2 \
          libapache2-mod-wsgi-py3 \
          postgresql \
          python3-cryptography \
          python3-dateutil \
          python3-pip \
          python3-psycopg2 \
          python3-requests \
          python3-rpm \
          python3-setuptools \
          python3-six
    - name: Install Ansible
      env:
        ANSIBLE: ${{ matrix.ansible }}
      run: |
        sudo apt-get purge ansible
        if [ "$ANSIBLE" = ga ] ; then
          PIP_IGNORE_INSTALLED=0 pip3 install ansible --user
        else
          PIP_IGNORE_INSTALLED=0 pip3 install ansible --user --pre
        fi
    - name: Set up test environment
      run: tests/integration/setup.sh
    - name: Run integration tests
      run: tests/integration/run.sh

  test-collection:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
    - name: Install pandoc
      run: |
        sudo apt-get update
        sudo apt-get install pandoc
    - name: Test collection build
      run: tests/integration/collection.sh
